{{#each this}}
	{{#if desc_comment}}
		{{#if chosen_comment}}
			<div class="container" style="background-color:green;margin-bottom:5px;max-width:1100px; margin-top:5px">
				<div class="row">
					<div class=" col-md-10">
						<h4 style="color:lightgreen">{{desc_comment}}</h4>
					</div>
					<div class=" col-md-1" style="max-height:93px">
						<h5 style="color:white">{{owner_comment}}<h5>
					</div>
					<div class=" col-md-1">
						<h6 style="color:Wheat">{{date_comment}}</h6>
					</div>
				</div>
			</div>

		{{else}}
			<div class="container" style="background-color:lightslategrey;margin-bottom:5px;max-width:1100px; margin-top:5px">
				<div class="row">
					<div class=" col-md-10">
						<h4 style="color:lightgreen">{{desc_comment}}</h4>
					</div>
					<div class=" col-md-1" style="max-height:93px">
						<h5 style="color:white">{{owner_comment}}<h5>
					</div>
					<div class=" col-md-1">
						<h6 style="color:Wheat">{{date_comment}}</h6>
						<form action="/comments/sel/{{_id}}" method="post">
							<button type="submit" class="btn btn-success">Choose</button>
						</form>
					</div>
				</div>
			</div>
		{{/if}}
	{{/if}}
{{/each}}