

  <div class="row">
    <div class="col-sm-2" style="background-color:#84e184;">
		<h4>Currency:</h4>
    </div>
    <div class="col-sm-2" style="background-color:#84e184;">
		<h4>User:</h4>
    </div>
	<div class="col-sm-2" style="background-color:#84e184;">
		<h4>Price:</h4>
    </div>
	<div class="col-sm-2" style="background-color:#84e184;">
		<h4>Amount:</h4>
    </div>
  </div>




{{#each this}}
	{{#if user}}

	  <div class="row">
		<div class="col-sm-2" style="background-color:#33cc33;">
			<h5>{{currency}}</h5>
		</div>
		<div class="col-sm-2" style="background-color:white;">
			<h5>{{user}}</h5>
		</div>
		<div class="col-sm-2" style="background-color:#33cc33;">
			<h5>{{price}}</h5>
		</div>
		<div class="col-sm-2" style="background-color:white;">
			<h5>{{amount}}</h5>
		</div>
		<div>
			<form action="/entries/trade" method="post">
				<input type="hidden" name="offer" value="{{_id}}"/>
				<input type="submit"  class="btn btn-success subm" value="Accept"/>
			</form>
		</div>
	  </div>

	{{/if}}
{{/each}}



