
<form action="/users/profile" method="get">
	<button type="submit" class="btn btn-danger">PROFILE</button>
</form>
<h1 style="color:white">List of questions</h1><br>
<input type="hidden" id="sid" value="a"/>
{{#each this}}
{{#if title}}
<div class="container" style="background-color:lightslategrey;margin-bottom:5px">
	<form action="/questions/{{owner}}/{{_id}}" method="get">
		<div class="row">
			<div class=" col-lg-3">
				<h2 style="color:lightgreen">{{title}}</h2>
			</div>
			<div class=" col-lg-9" style="max-height:100px; overflow-y:scroll;margin-top:5px">
				<h4 style="color:white;overflow-wrap: break-word;">{{description}}<h4>
			</div>
		</div>
		<div class="row">
			<div class=" col-lg-10">
				<h5 style="color:Wheat">{{tags}}</h5>
				<h5 style="color:Wheat">{{date}}</h5>
			</div>
			<div class=" col-lg-1">
				<h5 style="color:Wheat">{{owner}}</h5>
				<input type="submit" class="btn btn-default" value="Take a look as admin"></input>
			</div>
		</div>
	</form>
	<form action="/questions/del/{{_id}}" method="post">
			<button type="submit" class="btn btn-danger">delete</button>
	</form>

</div>
{{/if}}
{{/each}}

